main {
    header {
        .about {
            margin-top: 20%;
            img {
                width: 100%;
            }
        }
        
    }
    .team-container {
        @media @tablet {
            display: flex;
            flex-wrap: wrap;
        }
    }
    section {
        @media @desktop {
            width: 100%;
        }
    }
    
}