header {
    @media @desktop {
        display: flex;
        justify-content: space-around;
    }
    nav {
        @media @desktop {
            width: 40%;
            }
        ul {
            display: flex;
            justify-content: space-around;
            .only-desktop {
                display: none;
                @media @desktop {
                    display: inline-flex;
                }
            }
            li {
                width: 50%;
                height: 6vh;
                .layout(center);
                align-items: center;
                a {
                    color: white;
                    font-weight: 400;
                    font-size: 1.4rem;
                    text-decoration: none;
                    letter-spacing: .06rem;
                    @media @desktop {
                    color: black;
                    }
                }

            }
            .first-button {
                background-color: #5887F9;
                @media @desktop {
                    background: none;
                    color: black;
                }
            }
            .second-button {
                background-color: #5574F7;
                @media @desktop {
                    background: none;
        
                }
            }
    
        }
    }
    .logo-image {
        .layout(center);
        margin: 3% 0;
        img {
            width: auto;
            height: 59px;
        }
        a {
            .layout(center);
        }
    }
}
